<style type="text/css">
    html{margin: 0; padding: 0;}
    body{margin: 0 auto; padding: 0;max-width: 1200px; background: #f5f6f8;font-size: 14px;max-height: 800px;}
    .m-header{position: relative; height: 0.8rem;line-height: 1rem; font-size:0.18rem;border-bottom:1px solid #EBEBEB; text-align: center;color: #2C2C2C;letter-spacing: 0;background: #fff;background-color: #7FFFD4;}
    .m-return {position: absolute;display: inline-block;top:0.13rem;left: 0.12rem;width: 0.14rem; height: 0.3rem; background-image: url(http://c2.cgyouxi.com/website/mobile/img/arrow-l.png?v=20180122);background-size: 100% 100%;}
    .m-view{background: #fff;height: 1000px;overflow:auto;background-color: #FFFAF0;}
    .m-view ul{

        width:1100px;/*设置元素宽度为980px*/

        margin:0px auto 0px auto;/*也可以简写为margin:0 auto*/

        justify-content: center;

    }
    .m-view ul li{

        float:left;/*让li元素左浮动*/

        list-style:none;


    }

    .m-view ul li a{

        width:80px;/*设置元素宽为80px*/

        height:28px;/*设置高度为28px*/

        line-height:28px;/*设置行距为28px，让文字在每行的中间位置*/

        background:red;/*设置元素的背景为红色*/

        color:#FFF;/*文字颜色是白色*/

        margin:5px 10px;

        font-size:12px;/*用12号字*/

        display:block;/*这个比较关键，因为a本身就是联级元素，本身不具有宽高，用这个把它变成块级元素，这样前面设置的宽和高就能起作用了*/

        text-align:center;/*让文本居中*/

        text-decoration:none; /*去掉下划线*/

    }
    .m-division{height: 1px; background:#EBEBEB;}
    .login-button { /* 按钮美化 */
        width: 180px; /* 宽度 */
        height: 40px; /* 高度 */
        border-width: 0px; /* 边框宽度 */
        border-radius: 3px; /* 边框半径 */
        background: #1E90FF; /* 背景颜色 */
        cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
        outline: none; /* 不显示轮廓线 */
        font-family: Microsoft YaHei; /* 设置字体 */
        color: white; /* 字体颜色 */
        font-size: 17px; /* 字体大小 */
    }
    .login-button:hover { /* 鼠标移入按钮范围时改变颜色 */
        background: #5599FF;
    }

    @media screen and (min-width: 360px) {
        html {
            font-size: 100px!important;
        }
    }
</style>