<style type="text/css">
    html{margin: 0; padding: 0;}
    body{margin: 0 auto; padding: 0;max-width: 1200px; background: #f5f6f8;font-size: 14px;max-height: 800px;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
    .m-header{position: relative; height: 0.8rem;line-height: 1rem; font-size:0.18rem;border-bottom:1px solid #EBEBEB; text-align: center;color: #1f2c1e;letter-spacing: 0;background: #fff;background-color: #a0ffa8;}
    .m-return {position: absolute;display: inline-block;top:0.13rem;left: 0.12rem;width: 0.14rem; height: 0.3rem; background-image: url(http://c2.cgyouxi.com/website/mobile/img/arrow-l.png?v=20180122);background-size: 100% 100%;}
    .m-tab{position: relative;padding: 0.40rem 0 0; width: 100%;background: #fff;background-color: #ffeefb;}
    .m-tab a{position: absolute; display: inline-block;width: 50%; font-size: 0.15rem;color: #2C2C2C;letter-spacing: 0;line-height: 0.45rem;text-align: center;text-decoration: none;}
    .m-tab a:first-child{top: 0;left: 0; }
    .m-tab a.m-coupons{top:0; right:0;}
    .m-tab a.active{border-bottom: 2px solid #FFAC28;}
    .m-division{height: 1px; background:#EBEBEB;}
    .m-view1{background: #fff;height: 600px;}
    .m-view2{background: #fff;height: 600px;}
    #login_click{ margin-top:32px; height:40px;}

    @media screen and (min-width: 400px) {
        html {
            font-size: 100px!important;
        }
    }
</style>