<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>图书详情</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{include file='public/navigation'}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">天道酬勤 书海无涯<span class="glyphicon glyphicon-leaf pull-right"></span></h3>
                </div>
                <div class="panel-body">

                    <table class="table table-hover table-striped table-bordered" style="text-align: center">
                        <tr>
                            <th bgcolor="#9acd32">ISBN</th>
                            <td align="center">{$book.ISBN}</td></tr>
                        <tr><th bgcolor="#9acd32">书名</th>
                            <td align="center">{$book.bookname}</td></tr>
                        <tr><th bgcolor="#9acd32">封面</th>
                            <td align="center"><img src="/static/img/{$book.picture}.jpg" width="200px" height="260px"></td></tr>
                        <tr><th bgcolor="#9acd32">分类</th>
                            <td align="center">{$booktype.categoryname}</td></tr>
                        <tr><th bgcolor="#9acd32">作者</th>
                            <td align="center">{$author}</td></tr>
                        <tr>
                            <th bgcolor="#9acd32">出版社</th>
                            <td align="center">
                                {$press.publicname}</td></tr>
                        <tr><th bgcolor="#9acd32">借阅类型</th>
                            <td align="center">
                                {$borrowtype.borrowtypename}</td></tr>
                        <tr><th bgcolor="#9acd32">单价</th>
                            <td align="center">
                                {$book.price}
                            </td></tr>
                        <tr>
                            <th bgcolor="#9acd32">简介</th>
                            <td align="center" height="100px">{$book.introduce}</td>
                        </tr>
                    </table>
                    <h4 align="center"><font color="#CD5C5C">根据您的情况，提供如下借阅条件：</font></h4>
                    <table class="table table-hover table-striped table-bordered" align="center" border="0" width=1000px bgcolor="#FFF8DC">
                        <tr><th align="center" bgcolor="#FFD700">借阅上限（本）</th><th align="center" bgcolor="#FFD700">借阅期限（天）</th><th align="center" bgcolor="#FFD700">续借期限（天）</th></tr>
                        <tr><th>{$borrowcondition.borrownum}</th> <th>{$borrowcondition.borrowtime}</th> <th>{$borrowcondition.renewtime}</th>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                    <h1 align="center"><button type="button" class="btn btn-success btn-default btn-block" onclick="window.location.href='{:url(\'admin/reader/showbooklist\',[\'ISBN\'=>$book.ISBN])}'">浏览实体书</button></h1>

                </div>
            </div>
        </div>

        {include file='public/package'}
    </div>
</div>
</body>
{include file='public/function'}
</html>

